// Fonts
@charset "UTF-8";

// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Battambang:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Khmer:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Koulen:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Freehand:wght@400;700&display=swap");

// Local Khmer Fonts
@font-face {
  font-family: "khmer";
  src: url("../../public/fonts/siemreap.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "khmer";
  src: url("../../public/fonts/Muol-Light.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "khmer-mef";
  src: url("../../public/fonts/mef1.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "khmer-mef";
  src: url("../../public/fonts/mef2.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

// Tabler SCSS
@import "@tabler/core/scss/tabler";
@import "@tabler/core/scss/tabler-vendors";
@import "@tabler/core/scss/tabler-themes";
@import "@tabler/core/scss/tabler-marketing";
@import "@tabler/core/scss/tabler-flags";
@import "@tabler/core/scss/tabler-payments";
@import "@tabler/core/scss/tabler-props";
@import "@tabler/core/scss/tabler-socials";

// Tabler Tom Select SCSS
/* Tom Select precompiled CSS first */
@import "@tabler/core/dist/libs/tom-select/dist/css/tom-select.bootstrap5.min";

// AOS Animate On Scroll
@import "aos/dist/aos.css";

// Custom overrides
body {
  font-family: "Inter", "khmer", sans-serif;
}
